/node_modules
/public/hot
/public/img
/public/lrc/*.lrc
/public/storage
/storage/*.key
/resources/js/components/util/PlayerComponent.vue
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
